#buy{
    background-color: #f0dbc0;
}

#asus15{
    background: url(media/15_desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 1200px;
    display: flex;
    flex-flow: column;
}

#asus15name{
    max-width: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#asus15name img{
    max-width: 100%;
    max-height: 100%;
}