#choose{
    background-color: lightgrey;
}

#asus15{
    background-color: black;
    background: url(media/15_desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    flex-flow: column;
}

#asus15name{
    max-width: 640px;
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#da2019{
    max-width: 157px;
    max-height: 40px;
    margin-top: 620px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#asus15name img{
    max-width: 100%;
    max-height: 100%;
}

#asus15buy{
    max-width: 70%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#buy{
    background-color: #f0dbc0;
}

#asus15info{
    text-align: center;
    color: azure;
    background-color: rgb(0, 0, 0);
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#asus15info p{
    width: 70%;
}

#qualities{
    background-color: black;
    margin-top: -5px;
    padding-bottom: 50px;
}

#qualities h2{
    color: azure;
    text-align: center;
}

#qualities p{
    color: azure;
    text-align: center;
}

#qualities .container-fluid{
    display: flex;
    flex-direction: column;
}

#q1{
    background: url(media/beauty_mobile_edited.jpg);
    border: 5px solid black;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#q1:hover{
    border: 5px solid rgb(46, 46, 46);
}

#q2{
    background: url(media/spirit_mobile_edited.jpg);
    border: 5px solid black;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#q2:hover{
    border: 5px solid rgb(46, 46, 46);
}

#q3{
    background: url(media/strength_mobile_edited.jpg);
    border: 5px solid black;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
#q3:hover{
    border: 5px solid rgb(46, 46, 46);
}

#zenowner{
    background-color: black;
    background: url(media/zen_edited.jpg);
    background-size: cover;
    background-position: center;
    color: azure;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
}

form{
    width: 70%;
}

#zenowner h2{
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
}

#zenowner h3{
    text-align: center;
    width: 70%;
}

#send_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#send{
    background-color: azure;
    margin-bottom: 40px;
    margin-top: 20px;
}

#footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: -5px;
}

#footer img{
    max-width: 95%;
    max-height: 30px;
}

@media (max-width: 768px){
    #asus15{
        background: url(media/15_mobile.jpg);
        background-size: cover;
        background-position: center;
        height: 1000px;
        display: flex;
        flex-flow: column;
    }
    
    #asus15info p{
        width: 100%;
    }

    #zenowner h2{
        width: 100%;
    }
    
    #zenowner h3{
        width: 100%;
    }

    form{
        width: 100%;
    }
}

@media (min-width: 1200px){
    #asus15{
        background: url(media/15_largedesktop.jpg);
        background-size: cover;
        background-position: center;
        height: 1400px;
        display: flex;
        flex-flow: column;
    }

    #da2019{
        max-width: 157px;
        max-height: 40px;
        margin-top: 1000px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}